<div class="basic">
  <div class="half">
    <img src="{{pathToImg}}" alt="{{name}}">
  </div>
  <div class="half">
    <h3>BASIC INFO:</h3>
    <ul>
      <li><strong>Name: </strong>{{yourName}}</li>
      <li><strong>Title: </strong>{{jobTitle}}</li>
      <li><strong>Website: </strong><a href="http://{{website}}">{{website}}</a></li>
      <li><strong>E-Mail: </strong><a href="mailto:{{email}}?subject={{eventName}}">{{email}}</a></li>
      <li><strong>Phone: </strong><a href="tel:+1{{phone}}">{{phone}}</a></li>
    </ul>
    <form method="get" action="{{pathToResume}}" target="_blank">
      <button type="submit">RESUME</button>
    </form>
  </div>
</div>
<div class="summary">
  <h3>SUMMARY:</h3>
  <p>{{summary}}</p>
</div>
